.intro{
  background-image: url()
}

.intro-body{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color:white;
  width: 80%;
  margin-left: 10%;
  margin-top:10%;
  height: 500px;
}

#firstbtn{
  width: 70px
}
.download-section{
  background-image: url(../img/supernova-bg.jpg)
}

.skills-section{
  background-image: url("../img/supernova-bg2.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-default {
  border: 1px solid #6ea2f0;
  color: #6ea2f0;
  background-color: black;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #6ea2f0;
  outline: none;
  color: black;
  background-color: #6ea2f0;
}

.background{
  background-color: white;
}

.rowPort > div[class*='col-'] {
  display: flex;
}

.rowPort{
  display:flex;
  flex-wrap:wrap;
  align-items: flex-start;
}
.rowPort2{
  justify-content: space-between;
}
a {
  color: #6ea2f0;
}

.aboutMeBody{
  display:flex;
  justify-content:space-between;
}
.me{
  background-image: url("../img/me.png");
  background-size: cover;
  background-repeat:no-repeat;
  width:200px;
  height: 200px;
  border-radius: 50%;
}
.meContainer{
  width:30%
}
.bioContainer{
  width: 60%;
}
@media (max-width: 550px) {
  .aboutMeBody{
    display:block;
  }
  .meContainer{
    margin: auto;
    width:200px;
    margin-bottom: 5%;
  }
  .bioContainer{
    margin:auto;
  }
}
@media (max-width:700px){
  .rowPort2{
    justify-content: center;
  }
}

.rounded-corners{
  border-radius: 25px;
}

.nile{
  margin-top:3%;
}

.jungle{
  margin-top:3%;
}

.adme{
  margin-top: 3%;
}

.jungleBlock{
}
.nile-img{
  margin-top: 5%;
  background-image: url("../img/nile3.png");
  background-size: cover;
  background-position: center;
  margin:auto;
  height: 180px;
  width: 250px;
  transition-duration: .5s;
  transform: scale(1);
}

.nile-img:hover{
  background-image: url("../img/portfoliovidNile3.gif");
  background-size: cover;
  background-position: center;
  transition-duration: .5s;
  transform: scale(1.05);
}


.jungle-img{
  margin-top: 5%;
  background-image: url("../img/jungle.png");
  background-size: cover;
  margin:auto;
  height: 180px;
  width: 250px;
  transition-duration: .5s;
  transform: scale(1);
}

.jungle-img:hover{
  background-image: url("../img/portfoliovidJungle.gif");
  background-size: cover;
  background-position: center;
  height: 180px;
  margin:auto;
  width: 250px;
  transition-duration: .5s;
  transform: scale(1.05);
}

.adme-img{
  background-image: url("../img/adme.png");
  background-size: cover;
  margin:auto;
  height: 180px;
  width: 250px;
  transition-duration: .5s;
  transform: scale(1);
}

.adme-img:hover{
  background-image: url("../img/portfoliovidAdMe2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  margin:auto;
  width: 250px;
  transition-duration: .5s;
  transform: scale(1.05);
}

#map {
  height: 100%;
}

.emailMessage{
  width:50%;
  height:100px
}

/*skills*/

.skill{
  width: 100px;
  height:100px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.skillContainer{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.skill-img{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  transition-duration: 0.5s;
  transform:scale(1);
}

.skill-img:hover{
  background-color:rgba(255,255,0,1);
  transition-duration: 0.5s;
  transform:scale(1.2);
}
.card-block{
  background-color: rgba(0,0,0,0.7);
  border-radius: 1%;
  padding: 5%;
  margin-bottom: 5%;
  width: 250px;
  margin:auto
}

.link{
  margin-top:5%;
  width: 120px;
}

.card-title{
  font-size: 20px;
  text-align: left;
  padding-left: 5%;
}
.card-text{
  font-size: 16px;
  text-align: left
}
.card{
  padding:5%;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.projectsHeader{
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: bold;
}
#projectsSubHeader{
  font-size: 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.javascript-img{
  background-image: url("../img/javascript.png");
  background-size: cover;
}

.php-img{
  background-image: url("../img/php.png");
  background-size: cover;
  background-position: center;
}

.mysql-img{
  background-image: url("../img/mysql.png");
  background-size: cover;
  background-position: bottom;
}

.react-img{
  background-image: url("../img/react2.png");
  background-size: cover;
}

.node-img{
  background-image: url("../img/node.png");
  background-size: cover;
}

.jquery-img{
  background-image: url("../img/jquery.png");
  background-size: cover;
  background-position: bottom;
}

.express-img{
  background-image: url("../img/express.png");
  background-size: cover;
  background-position: bottom;
}

.c-img{
  background-image: url("../img/c.jpg");
  background-size: cover;
  background-position: center;
}

.github-img{
  background-image: url("../img/github.png");
  background-size: cover;
  background-position: bottom;
}

.meistertask-img{
  background-image: url("../img/meistertask.png");
  background-size: cover;
  background-position: bottom;
}

.figma-img{
  background-image: url("../img/figma.png");
  background-size: cover;
  background-position: bottom;
}

.aws-img{
  background-image: url("../img/aws.jpg");
  background-size: cover;
  background-position: bottom;
}

.html-img{
  background-image: url("../img/html.png");
  background-size: cover;
  background-position: bottom;
}

.css-img{
  background-image: url("../img/css.png");
  background-size: cover;
  background-position: bottom;
}

.bootstrap-img{
  background-image: url("../img/bootstrap.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 18%;
}

.babel-img{
  background-image: url("../img/babel.png");
  background-size: cover;
  background-position: bottom;
}

.webpack-img{
  background-image: url("../img/webpack.jpg");
  background-size: cover;
  background-position: bottom;
}

.sass-img{
  background-image: url("../img/sass.png");
  background-size: cover;
}
